USE [FavoritePlaces]
GO
/****** Object:  Table [dbo].[AppRole]    Script Date: 3/7/2569 17:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRole](
	[role_id] [varchar](50) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 3/7/2569 17:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[place_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[img_src] [varchar](100) NOT NULL,
	[img_alt] [varchar](150) NOT NULL,
	[add_by] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacesComment]    Script Date: 3/7/2569 17:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacesComment](
	[user_id] [int] NOT NULL,
	[place_id] [int] NOT NULL,
	[rating] [float] NOT NULL,
	[comment] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFavoritePlaces]    Script Date: 3/7/2569 17:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoritePlaces](
	[user_id] [int] NOT NULL,
	[place_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 3/7/2569 17:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[user_id] [int] NOT NULL,
	[role_id] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/7/2569 17:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AppRole] ([role_id], [role_name]) VALUES (N'admin', N'Admin')
INSERT [dbo].[AppRole] ([role_id], [role_name]) VALUES (N'user', N'User')
GO
SET IDENTITY_INSERT [dbo].[Places] ON 

INSERT [dbo].[Places] ([place_id], [title], [img_src], [img_alt], [add_by]) VALUES (1, N'Forest Waterfall', N'https://res.cloudinary.com/duskjbqua/image/upload/v1782898408/forest-waterfall.jpg', N'A tranquil forest with a cascading waterfall amidst greenery.', N'admin')
INSERT [dbo].[Places] ([place_id], [title], [img_src], [img_alt], [add_by]) VALUES (2, N'Sahara Desert Dunes', N'https://res.cloudinary.com/duskjbqua/image/upload/v1782898408/desert-dunes.jpg', N'Golden dunes stretching to the horizon in the Sahara Desert.', N'admin')
INSERT [dbo].[Places] ([place_id], [title], [img_src], [img_alt], [add_by]) VALUES (3, N'Himalayan Peaks', N'https://res.cloudinary.com/duskjbqua/image/upload/v1782898408/majestic-mountains.jpg', N'The sun setting behind snow-capped peaks of majestic mountains.', N'admin')
SET IDENTITY_INSERT [dbo].[Places] OFF
GO
INSERT [dbo].[UserFavoritePlaces] ([user_id], [place_id]) VALUES (1, 4)
INSERT [dbo].[UserFavoritePlaces] ([user_id], [place_id]) VALUES (1, 8)
INSERT [dbo].[UserFavoritePlaces] ([user_id], [place_id]) VALUES (1, 7)
GO
INSERT [dbo].[UserRole] ([user_id], [role_id]) VALUES (1, N'user')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [user_name], [password]) VALUES (1, N'test', N'test')
INSERT [dbo].[Users] ([user_id], [user_name], [password]) VALUES (2, N'test2', N'test222')
INSERT [dbo].[Users] ([user_id], [user_name], [password]) VALUES (3, N'test3', N'test333')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[PlacesComment]  WITH CHECK ADD FOREIGN KEY([place_id])
REFERENCES [dbo].[Places] ([place_id])
GO
ALTER TABLE [dbo].[PlacesComment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserFavoritePlaces]  WITH CHECK ADD FOREIGN KEY([place_id])
REFERENCES [dbo].[Places] ([place_id])
GO
ALTER TABLE [dbo].[UserFavoritePlaces]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[AppRole] ([role_id])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
